<p>
    <h3>Car of Minnie Mouse</h3>
    <ul>
        <li><b>Brand & Model:</b> @ViewData["BrandModel"]</li>
        <li><b>Dealer:</b> @ViewData["Dealer"]</li>
    </ul>
</p>
<br />
<p>
    <h3>Airplanes</h3>
    <ul>
        <li>@ViewData["Airbus"]</li>
        <li>@ViewData["Boeing"]</li>
    </ul>
</p>